<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/predict_styles.css') }}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">SQUARE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-md-auto gap-2">
                    <li class="nav-item rounded">
                        <a class="nav-link active" aria-current="page" href="/index">Home</a>
                    </li>
                    <li class="nav-item rounded">
                        <a class="nav-link" href="/features">Features</a>
                    </li>
                    <li class="nav-item rounded">
                        <a class="nav-link" href="/visualize">Visualization</a>
                    </li>
                    <li class="nav-item rounded">
                        <a class="nav-link" href="/predict">Price prediction</a>
                    </li>
                    <li class="nav-item rounded">
                        <a class="nav-link" href="/aboutus">About us</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h3 style="color: white;">{{prediction_text}}</h3>
        <h3 style="color: red;">{{warning}}</h3>
        <br>
        <h1>Select specifications</h1>
        
    <form onsubmit="{{ url_for('predict') }}" method="post">
    <!-- <form action="/predict" method="post"> -->
        <div>
            
        <p>
            <label>
                Displacement<br>
            <input type="number" name="Displacement" 
            placeholder="{{ranges['Displacement']['low']}}-{{ranges['Displacement']['high']}}">
            </label>
        </p>
        <p>
            <label>
                Cylinders<br>
            <input type="number" name="Cylinders" 
            placeholder="{{ranges['Cylinders']['low']}}-{{ranges['Cylinders']['high']}}">
            </label>
        </p>
        <p>
            <label>
                Fuel Tank Capacity<br>
            <input type="number" name="Fuel_Tank_Capacity" 
            placeholder="{{ranges['Fuel_Tank_Capacity']['low']}}-{{ranges['Fuel_Tank_Capacity']['high']}}">
            </label>
        </p>
        <p>
            <label>
                Wheelbase<br>
            <input type="number" name="Wheelbase" 
            placeholder="{{ranges['Wheelbase']['low']}}-{{ranges['Wheelbase']['high']}}">
            </label>
        </p>
        <p>
            <label>
                Highway Mileage<br>
            <input type="number" name="Highway_Mileage" 
            placeholder="{{ranges['Highway_Mileage']['low']}}-{{ranges['Highway_Mileage']['high']}}">
            </label>
        </p>
      
        <br>
          
      
        <p>
            <label>
            Seating Capacity<br>
            <input type="number" name="Seating_Capacity"  
            placeholder="{{ranges['Seating_Capacity']['low']}}-{{ranges['Seating_Capacity']['high']}}">
            </label>
        </p>

        <p>
            <label>
            Number of Airbags<br>
            <input type="number" name="Number_of_Airbags"
            placeholder="{{ranges['Number_of_Airbags']['low']}}-{{ranges['Number_of_Airbags']['high']}}">
            </label>
        </p>
      <p></p>
      <p></p>
      <p>
        <input type="checkbox" name="Hill_Assist" id="cb1"><label for="cb1">Hill Assist</label><br>        
        <input type="checkbox" name="Electronic_Stability_Program" id="cb2"><label for="cb2">Electronic Stability Program</label><br>        
        <input type="checkbox" name="Rain_Sensing_Wipers" id="cb3"><label for="cb3">Rain Sensing Wipers</label><br>        
        <input type="checkbox" name="Leather_Wrapped_Steering" id="cb4"><label for="cb4">Leather Wrapped Steering</label><br>        
        <input type="checkbox" name="Automatic_Headlamps" id="cb5"><label for="cb5">Automatic Headlamps</label><br>        
        <input type="checkbox" name="Traction_Control" id="cb6"><label for="cb6">Traction Control</label><br>        
      </p>
     <p></p>
     <p></p>
     
      <p>
        <input type="submit">
      </p>
      <p>
        <input type="reset">
      </p>
      </div>
    </form>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>